@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?dq6d8l');
  src:  url('fonts/icomoon.eot?dq6d8l#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?dq6d8l') format('truetype'),
    url('fonts/icomoon.woff?dq6d8l') format('woff'),
    url('fonts/icomoon.svg?dq6d8l#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon38:before {
  content: "\e92e";
}
.icon-icon37:before {
  content: "\e92f";
}
.icon-icon36:before {
  content: "\e930";
}
.icon-icon35:before {
  content: "\e931";
}
.icon-clock:before {
  content: "\e917";
}
.icon-menu7:before {
  content: "\e900";
}
.icon-menu6:before {
  content: "\e901";
}
.icon-menu5:before {
  content: "\e902";
}
.icon-menu4:before {
  content: "\e903";
}
.icon-menu3:before {
  content: "\e904";
}
.icon-menu2:before {
  content: "\e905";
}
.icon-menu1:before {
  content: "\e906";
}
.icon-icon7a:before {
  content: "\e678";
}
.icon-icon7:before {
  content: "\e679";
}
.icon-cart6:before {
  content: "\e67a";
}
.icon-icon34:before {
  content: "\e670";
}
.icon-icon33:before {
  content: "\e671";
}
.icon-icon32:before {
  content: "\e672";
}
.icon-diamond2:before {
  content: "\e66e";
}
.icon-diamond:before {
  content: "\e66f";
}
.icon-location1:before {
  content: "\e66d";
}
.icon-icon29:before {
  content: "\e652";
}
.icon-icon31:before {
  content: "\e665";
}
.icon-icon26:before {
  content: "\e65d";
}
.icon-icon27:before {
  content: "\e65e";
}
.icon-icon28:before {
  content: "\e65f";
}
.icon-close3:before {
  content: "\e643";
}
.icon-tick3:before {
  content: "\e644";
}
.icon-user5:before {
  content: "\e645";
}
.icon-icon25:before {
  content: "\e646";
}
.icon-icon24:before {
  content: "\e647";
}
.icon-time:before {
  content: "\e648";
}
.icon-phone:before {
  content: "\e649";
}
.icon-icon23:before {
  content: "\e64a";
}
.icon-icon22:before {
  content: "\e64b";
}
.icon-mail2:before {
  content: "\e64c";
}
.icon-mail1:before {
  content: "\e64d";
}
.icon-user4:before {
  content: "\e64e";
}
.icon-key:before {
  content: "\e64f";
}
.icon-icon30:before {
  content: "\e650";
}
.icon-icon21:before {
  content: "\e651";
}
.icon-icon20:before {
  content: "\e653";
}
.icon-icon19:before {
  content: "\e654";
}
.icon-icon18:before {
  content: "\e655";
}
.icon-icon17:before {
  content: "\e656";
}
.icon-cart7:before {
  content: "\e657";
}
.icon-icon16:before {
  content: "\e658";
}
.icon-icon15:before {
  content: "\e659";
}
.icon-icon14:before {
  content: "\e65a";
}
.icon-icon13:before {
  content: "\e65b";
}
.icon-icon12:before {
  content: "\e65c";
}
.icon-icon11:before {
  content: "\e642";
}
.icon-icon9:before {
  content: "\e63f";
}
.icon-icon8:before {
  content: "\e640";
}
.icon-icon7b:before {
  content: "\e641";
}
.icon-icon9a:before {
  content: "\e63b";
  color: #444;
}
.icon-icon8a:before {
  content: "\e63c";
}
.icon-icon7c:before {
  content: "\e63d";
}
.icon-icon10:before {
  content: "\e63e";
}
.icon-icon1:before {
  content: "\e60c";
}
.icon-icon2:before {
  content: "\e627";
}
.icon-icon3:before {
  content: "\e628";
}
.icon-icon4:before {
  content: "\e629";
}
.icon-icon5:before {
  content: "\e62a";
}
.icon-icon6:before {
  content: "\e62b";
}
.icon-facebook:before {
  content: "\e600";
}
.icon-twitter:before {
  content: "\e601";
}
.icon-pinterest:before {
  content: "\e602";
}
.icon-baidu:before {
  content: "\e603";
}
.icon-letter:before {
  content: "\e604";
}
.icon-google:before {
  content: "\e605";
}
.icon-line:before {
  content: "\e606";
}
.icon-calendar:before {
  content: "\e938";
}
.icon-time2:before {
  content: "\e92d";
}
.icon-headphones:before {
  content: "\e927";
}
.icon-umbrella:before {
  content: "\e932";
}
.icon-list:before {
  content: "\e935";
}
.icon-volume:before {
  content: "\e928";
}
.icon-volume2:before {
  content: "\e92a";
}
.icon-auction:before {
  content: "\e929";
}
.icon-rocket:before {
  content: "\e926";
}
.icon-t-shirt:before {
  content: "\e936";
}
.icon-calendar1:before {
  content: "\e939";
}
.icon-document-file-pdf:before {
  content: "\e92c";
}
.icon-cart5:before {
  content: "\e62f";
}
.icon-del2:before {
  content: "\e661";
}
.icon-pencil2:before {
  content: "\e916";
}
.icon-cash1:before {
  content: "\e63a";
}
.icon-heart2:before {
  content: "\e632";
}
.icon-del3:before {
  content: "\e662";
}
.icon-graduation-cap:before {
  content: "\f19d";
}
.icon-child:before {
  content: "\f1ae";
}
.icon-black-tie:before {
  content: "\f27e";
}
.icon-hand-o-down:before {
  content: "\e922";
}
.icon-hand-o-up:before {
  content: "\e923";
}
.icon-hand-o-left:before {
  content: "\e924";
}
.icon-hand-o-right:before {
  content: "\e925";
}
.icon-building-o:before {
  content: "\e91f";
}
.icon-building:before {
  content: "\e920";
}
.icon-home3:before {
  content: "\e921";
}
.icon-unlock-alt:before {
  content: "\e918";
}
.icon-unlock:before {
  content: "\e919";
}
.icon-lock:before {
  content: "\e91a";
}
.icon-search:before {
  content: "\f002";
}
.icon-close2:before {
  content: "\f057";
}
.icon-tick2:before {
  content: "\f058";
}
.icon-help3:before {
  content: "\f059";
}
.icon-arrow-left3:before {
  content: "\f0a8";
}
.icon-arrow-right3:before {
  content: "\f0a9";
}
.icon-arrow-up3:before {
  content: "\f0aa";
}
.icon-arrow-down3:before {
  content: "\f0ab";
}
.icon-arrow-left5:before {
  content: "\f137";
}
.icon-arrow-right5:before {
  content: "\f138";
}
.icon-arrow-up5:before {
  content: "\f139";
}
.icon-arrow-down5:before {
  content: "\f13a";
}
.icon-youtube-square:before {
  content: "\f166";
}
.icon-youtube3:before {
  content: "\f167";
}
.icon-youtube-play:before {
  content: "\f16a";
}
.icon-bowl:before {
  content: "\e937";
}
.icon-instagram-with-circle:before {
  content: "\e933";
}
.icon-instagram1:before {
  content: "\e934";
}
.icon-computer-desktop:before {
  content: "\e92b";
}
.icon-minus2:before {
  content: "\e666";
}
.icon-plus2:before {
  content: "\e667";
}
.icon-cross:before {
  content: "\e668";
}
.icon-minus3:before {
  content: "\e669";
}
.icon-plus3:before {
  content: "\e66a";
}
.icon-cross2:before {
  content: "\e66b";
}
.icon-help:before {
  content: "\e664";
}
.icon-next:before {
  content: "\e673";
}
.icon-previous:before {
  content: "\e674";
}
.icon-first:before {
  content: "\e675";
}
.icon-last:before {
  content: "\e676";
}
.icon-arrow-left1:before {
  content: "\e611";
}
.icon-arrow-down1:before {
  content: "\e612";
}
.icon-arrow-up1:before {
  content: "\e613";
}
.icon-arrow-right1:before {
  content: "\e614";
}
.icon-arrow-left2:before {
  content: "\e615";
}
.icon-arrow-down2:before {
  content: "\e616";
}
.icon-arrow-up2:before {
  content: "\e617";
}
.icon-arrow-right2:before {
  content: "\e618";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-office:before {
  content: "\e91b";
}
.icon-library:before {
  content: "\e91c";
}
.icon-home:before {
  content: "\e91d";
}
.icon-home2:before {
  content: "\e91e";
}
.icon-list1:before {
  content: "\e61e";
}
.icon-map1:before {
  content: "\e633";
}
.icon-cart4:before {
  content: "\e61f";
}
.icon-tick1:before {
  content: "\e620";
}
.icon-close1:before {
  content: "\e621";
}
.icon-cart8:before {
  content: "\e630";
}
.icon-list2:before {
  content: "\e622";
}
.icon-arrow-down4:before {
  content: "\f0a3";
}
.icon-arrow-left4:before {
  content: "\f0a4";
}
.icon-arrow-right4:before {
  content: "\f078";
}
.icon-arrow-up4:before {
  content: "\f0a2";
}
.icon-help2:before {
  content: "\f02c";
}
.icon-quill:before {
  content: "\e683";
}
.icon-diamonds:before {
  content: "\e66c";
}
.icon-cart2:before {
  content: "\e623";
}
.icon-cart3:before {
  content: "\e626";
}
.icon-cash2:before {
  content: "\e634";
}
.icon-location:before {
  content: "\e635";
}
.icon-map2:before {
  content: "\e636";
}
.icon-map3:before {
  content: "\e637";
}
.icon-user1:before {
  content: "\e62c";
}
.icon-user2:before {
  content: "\e62d";
}
.icon-user3:before {
  content: "\e62e";
}
.icon-del4:before {
  content: "\e663";
}
.icon-list3:before {
  content: "\e624";
}
.icon-list4:before {
  content: "\e625";
}
.icon-heart3:before {
  content: "\e638";
}
.icon-heart4:before {
  content: "\e639";
}
.icon-mail:before {
  content: "\e907";
}
.icon-mail3:before {
  content: "\e908";
}
.icon-google2:before {
  content: "\e909";
}
.icon-googleplus3:before {
  content: "\e90a";
}
.icon-googleplus:before {
  content: "\e67d";
}
.icon-googleplus2:before {
  content: "\e67e";
}
.icon-google-drive:before {
  content: "\e90b";
}
.icon-facebook3:before {
  content: "\e90c";
}
.icon-facebook4:before {
  content: "\e67b";
}
.icon-facebook2:before {
  content: "\e67c";
}
.icon-twitter4:before {
  content: "\e67f";
}
.icon-twitter2:before {
  content: "\e680";
}
.icon-twitter3:before {
  content: "\e681";
}
.icon-youtube:before {
  content: "\e90d";
}
.icon-youtube2:before {
  content: "\e90e";
}
.icon-blogger:before {
  content: "\e90f";
}
.icon-blogger2:before {
  content: "\e910";
}
.icon-skype:before {
  content: "\e682";
}
.icon-pinterest2:before {
  content: "\e911";
}
.icon-pinterest3:before {
  content: "\e912";
}
.icon-link:before {
  content: "\e913";
}
.icon-arrow-down:before {
  content: "\e60d";
}
.icon-arrow-left:before {
  content: "\e60e";
}
.icon-arrow-right:before {
  content: "\e60f";
}
.icon-arrow-up:before {
  content: "\e610";
}
.icon-close:before {
  content: "\e607";
}
.icon-tick:before {
  content: "\e608";
}
.icon-plus:before {
  content: "\e609";
}
.icon-minus:before {
  content: "\e60a";
}
.icon-chevron-right:before {
  content: "\e60b";
}
.icon-chevron-left:before {
  content: "\e619";
}
.icon-th-list:before {
  content: "\e61a";
}
.icon-arrow-forward:before {
  content: "\e61b";
}
.icon-arrow-back:before {
  content: "\e61c";
}
.icon-user6:before {
  content: "\e677";
}
.icon-pencil:before {
  content: "\e915";
}
.icon-cart1:before {
  content: "\e61d";
}
.icon-link2:before {
  content: "\e005";
}
.icon-arrow-left7:before {
  content: "\e051";
}
.icon-arrow-right7:before {
  content: "\e055";
}
.icon-arrow-left6:before {
  content: "\e094";
}
.icon-arrow-right6:before {
  content: "\e095";
}
.icon-arrow-up6:before {
  content: "\e096";
}
.icon-arrow-down6:before {
  content: "\e097";
}
.icon-link3:before {
  content: "\e914";
}
.icon-del1:before {
  content: "\e660";
}
.icon-heart1:before {
  content: "\e631";
}
